@page "/cadastrar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>Hooping - Cadastrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="images/logo.svg"
                     alt="Hooping"
                     width="200" />
            </div>

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />

                <MudTextField T="string"
                              Label="E-mail"
                              InputType="InputType.Email"
                              For="() => InputModel.Email"
                              @bind-Value="InputModel.Email" />

                <MudTextField T="string"
                              Label="Senha"
                              HelperText="A senha deve conter pelo menos oito caracteres, um maísculo, um minúsculo, um número e um caracter especial."
                              InputType="InputType.Password"
                              For="() => InputModel.Password"
                              @bind-Value="InputModel.Password" />

                <MudTextField T="string"
                              Label="Confirmar senha"
                              InputType="InputType.Password"
                              For="() => InputModel.ConfirmPassword"
                              @bind-Value="InputModel.ConfirmPassword" />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">COMEÇAR</MudButton>
                        <MudSpacer />
                        <MudButton Href="/login">JÁ TENHO UMA CONTA</MudButton>
                    }
                </div>

            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>