<div class="d-flex justify-center pb-8 pt-8">
    <img src="images/logo.svg" alt="Hooping" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
</MudNavMenu>